@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="~/css/homepage.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

</head>
    <body>
        <div class="slider">
            <div class="slides">
                <!-- radio buttons-->
                <input type="radio" name="radio-btn" id="radio1" />
                <input type="radio" name="radio-btn" id="radio2" />
                <input type="radio" name="radio-btn" id="radio3" />
                <input type="radio" name="radio-btn" id="radio4" />
                <!-- radio buttons-->

                <!--slides imags-->
                <div class="slide first">
                <img src="~/assets/brand/testech.jpg" />
                    <div class="content">
                        <h1>TesTech Inc</h1>
                    <button class="button">See Location</button>
                    </div>
                </div>
                <div class="slide">
                    <img src="~/assets/brand/toyota.jpg" />
                    <div class="content">
                    <h1 style ="color: crimson; opacity: 0.5;">Toyota</h1>
                    <button class="button">See Location</button>
                    </div>
                </div>
                <div class="slide">
                    <img src="~/assets/brand/PSA.jpg" />
                    <div class="content">
                    <h1 style="color: blue; opacity: 0.5;">PSA Olongapo</h1>
                    <button class="button">See Location</button>
                    </div>
                </div>
                <div class="slide">
                    <img src="~/assets/brand/3.jpg" />
                    <div class="content">
                        <h1>Brngy Municipal</h1>
                    <button class="button">See Location</button>
                    </div>
                </div>
                <!-- slides end-->

                <!--auto navigate-->
                <div class="navigate-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                    <div class="auto-btn4"></div>
                </div>
                <!-- auto navigate end-->
        </div>

        <div class="navigation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>
        </div>
    </div>

    <div class="statement">
        <h3>Welcome to Trailyze</h3>
        <p>
            Discover a new way to analyze your performance. Trailyze is your go-to destination
            for monitoring, reminding, storing, predicting. your all-in-one solution for elevating trainee 
            performance monitoring and prediction.Let's embark on a journey of enhanced training 
            experiences and informed 
            decision-making.
            Whether you're a student looking to improve
            ones performance, ride the wave of platform, we've got you covered.
        </p>
        <button class="button"><a asp-controller="Account" asp-action="SignUp">Sign Up for Free</a></button>
    </div>

    <div class="wave wave1"></div>
    <div class="wave wave2"></div>
    <div class="wave wave3"></div>

    
    <section class="info-graphics" id="about">
        
        <div class="row">
            <div class="info-content">
                <h1 class="heading">
                    About Us
                </h1>
                <h3>We analyze and monitor your performance</h3>
                <p>Imagine having a centralized dashboard that provides a comprehensive view of trainee performance - 
                    <br />from progress tracking to assessment results. 
                    With Trailyze, it's not just about monitoring; it's about predicting future success.</p>
                <p>At Trailyze, we believe in the power of data-driven insights to unlock the full potential of 
                    trainees.<br /> Our platform combines cutting-edge technology <br />with user-friendly design, 
                    making it the go-to choice for organizations committed to maximizing training outcomes.</p>
            </div>
            <div class="image">
            <img src="~/assets/dashboard/Charts-bro.png" />
             </div>
        </div>
        <div class="row2">
            <div class="info-content2">
                <h1 class="heading">
                    UI and UX
                </h1>
                <h3>Let's take a peek at the UI that makes navigating our platform a breeze.</h3>
                <p>
                    Trailyze boasts a clean, modern design that puts everything you 
                    need right at your fingertips. The dashboard is not just informative; 
                    it's visually stunning, providing a clear snapshot of your trainee's 
                    progress and achievements.
                </p>
                <p>
                    Join us on this journey of redefining training experiences. 
                    Welcome to Trailyze - where UI and UX excellence meet the future of performance monitoring.
                </p>
            </div>
            <div class="image">
                <img src="~/assets/dashboard/User-flow-pana.png" />
            </div>
        </div>
    </section>
        <script src="~/js/slider.js"></script>
    </body>
</html>