@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="~/css/homepage.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

</head>
    <body>
        <div class="Container">
            <div id="slider">
                <div class="item" style="background-image: url(/assets/brand/3.jpg)">
                    <div class="content"> 
                        <div class="name"> Brngy Municipal </div>
                        <div class="des"> Available ojt location at olongapo city, where you can learn bunch of things</div>
                        <button>See Location</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(/assets/brand/CastillejosHall.jpg)">
                    <div class="content">
                        <div class="name"> PRMSU </div>
                        <div class="des"> Available ojt location at olongapo city, where you can learn bunch of things</div>
                        <button>See Location</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(/assets/brand/PSA.jpg)">
                    <div class="content">
                        <div class="name"> PSA Olongapo </div>
                        <div class="des"> Available ojt location at olongapo city, where you can learn bunch of things</div>
                        <button>See Location</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(/assets/brand/testech.jpg)">
                    <div class="content">
                        <div class="name"> TesTech Inc </div>
                        <div class="des"> Available ojt location at olongapo city, where you can learn bunch of things</div>
                        <button>See Location</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(/assets/brand/toyota.jpg)">
                    <div class="content">
                        <div class="name"> Toyota </div>
                        <div class="des"> Available ojt location at olongapo city, where you can learn bunch of things</div>
                        <button>See Location</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(/assets/brand/ezsolutions.png)">
                    <div class="content">
                        <div class="name"> EzSolutions Inc </div>
                        <div class="des"> Available ojt location at olongapo city, where you can learn bunch of things</div>
                        <button>See Location</button>
                    </div>
                </div>
            </div>
            <div class="buttons">
            <button id="prev"><i class="fa-solid fa-angle-left"></i></button>
            <button id="next"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
        </div>
        

        <script src="~/js/slider.js"></script>
    </body>
</html>