@{
	Layout = "_AMasterpage_2";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- My CSS -->
	<link rel="stylesheet" href="~/css/adminStyle.css">
	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
	<link href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet" />
	<title>AdminHub</title>
</head>
<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bxs-smile'></i>
			<span class="text">Admin Hub</span>
		</a>
		<ul class="side-menu top">
			<li>
				<a asp-controller="Admin" asp-action="Admin">
					<i class='bx bxs-dashboard'></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a asp-controller="Admin" asp-action="Analytics">
					<i class='bx bxs-doughnut-chart'></i>
					<span class="text">Analytics</span>
				</a>
			</li>
			<li>
				<a asp-controller="TimeLog" asp-action="TimeLog">
					<i class='bx bxs-spreadsheet'></i>
					<span class="text">Time Log</span>
				</a>
			</li>
			<li class="active">
				<a asp-controller="Admin" asp-action="RequirementFile">
					<i class='bx bxs-file-pdf'></i>
					<span class="text">Requirement Files</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<!--<li>
				<a href="#" class="logout">
					<i class='bx bxs-log-out-circle'></i>
					<span class="text">Logout</span>
				</a>
			</li>-->
		</ul>
	</section>
	<!-- SIDEBAR -->
	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu'></i>
			<a href="#" class="nav-link">Categories</a>
		</nav>
		<!-- NAVBAR -->
		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Requirement Files</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Requirement Files</a>
						</li>
						<li><i class='bx bx-chevron-right'></i></li>
						<li>
							<a class="active" href="#">Home</a>
						</li>
					</ul>
				</div>
			</div>
			@* ----------------------------------------------------------- *@
			<div>
				<h1 class="heading"> Requirement File Logs </h1>
				<h3 class="title"> Approval and Updates </h3>
				<form id="approvalForm" asp-controller="Admin" asp-action="RequirementFile" method="post">
					<table id="requirementFilesTable">
						<thead>
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<button id="updateButton" type="button">Update Approval Status</button>
				</form>
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
</body>
</html>
@section Scripts {
	@{
		<script src="~/js/admin/requirement_admin.js"></script>
		<script src="~/js/adminScript.js"></script>
	}
	<script>
		document.getElementById('updateButton').addEventListener('click', function () {
			confirmInput();
		});

		function confirmInput() {
			Swal.fire({
				title: "Are you sure?",
				text: "You made changes!",
				icon: "warning",
				showCancelButton: true,
				confirmButtonColor: "#3085d6",
				cancelButtonColor: "#d33",
				confirmButtonText: "Yes, change it!"
			}).then((result) => {
				if (result.isConfirmed) {
					document.getElementById('approvalForm').submit();
				}
			});
		}
	</script>
}