@* partial view for popups *@

<div id="popup" class="popup-overlay">
        <div class="popup-content">
            <span class="close-btn">&times;</span>
            <h2>Add Document</h2>

            <label for="title">Title:</label>
            <input type="text" id="title" placeholder="Provide document title, e.g., 'Risks on site'">

            <label for="description">Document Description:</label>
            <textarea id="description" placeholder="Provide document description"></textarea>

            <div class="checkbox-container">
                <label for="mandatory">This document is mandatory</label>
            </div>

            <button id="attachDocumentButton">Attach Document</button>
            <button id="saveButton">Save</button>
        </div>
    </div>