

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
}

header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.navbar {
    width: 100%;
    box-shadow: 1px 10px 10px #888888;
    z-index: 3;
}

.navbar-nav {
    padding: 10px 1%;
}

.navbar-nav li{
    font-weight: 500;
    font-size: 19px;
}

.navbar a .logo {
    width: 7rem;
    height: auto;
}

.profile-icon {
    position: absolute;
    right: 90px;
    width: 50px;
    height: 50px;
}

#footer {
    position: absolute;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 40px;
    background: grey;
}

.navbar a .userImage{
    height: 5.5rem;
    width: 5.5rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -3rem;
    border: .6rem solid var(--dark-grey);
    border-left: .6rem solid var(--grey);
    border-bottom: .6rem solid var(--grey);
}