@model ML_ASP.Models.ViewModel.RequirementVM

@{
    Layout = "_AMasterPage_2";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minimalist Pop-Up Design</title>
    <link rel="stylesheet" href="~/css/CustomPopup.css">
</head>
<body>

    <form method="post" enctype="multipart/form-data" asp-controller="RequirementFile" asp-action="SubmitDocument">
    <div class="main-content">
        <p>Document Requirements</p>
        <div class="document-item">
            <p>Application Form</p>

            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <label>Categories</label>
            <div class="form-floating mb-2 py-1">
                <div>
                    <label for="OffCampus">
                        <input type="radio" asp-for="AccountInfoModel.Category" value="Off-Campus" id="OffCampus" onclick="toggleSelect('offCampusSelect')" />
                        Off-Campus
                    </label>
                </div>
                <div>
                    <label for="InCampus">
                        <input type="radio" asp-for="AccountInfoModel.Category" value="In-Campus" id="InCampus" onclick="toggleSelect('inCampusSelect')" />
                        In-Campus
                    </label>
                </div>
                <span asp-validation-for="AccountInfoModel.Category" class="text-danger"></span>
            </div>
            <br />

            <div class="form-floating mb-2 py-1" id="inCampusSelect" style="display:none;">
                <select asp-for="AccountInfoModel.Offices" class="form-control">
                    <option value="">Please select one of the offices: </option>
                    <option value="CCIT- DEAN'S OFFICE">CCIT- DEAN'S OFFICE</option>
                    <option value="PROGRAMS CHAIR'S OFFICE">PROGRAMS CHAIR'S OFFICE</option>
                    <option value="OJT OFFICE">OJT OFFICE</option>
                    <option value="CCIT LABORATORY OFFICE">CCIT LABORATORY OFFICE</option>
                    <option value="SPORT'S DIRECTOR OFFICE">SPORT'S DIRECTOR OFFICE</option>
                    <option value="COLLEGE OF NURSING">COLLEGE OF NURSING</option>
                    <option value="COLLEGE OF EDUC">COLLEGE OF EDUC</option>
                    <option value="DIRECTOR FOR INSTRUCTION OFFICE">DIRECTOR FOR INSTRUCTION OFFICE</option>
                    <option value="COLLEGE OF ENGINEERING (UNDER COMPUTER ENGINEERING'S OFFICE)">COLLEGE OF ENGINEERING (UNDER COMPUTER ENGINEERING'S OFFICE)</option>
                    <option value="UMISO">UMISO</option>
                    <option value="IGP">IGP</option>
                    <option value="OSA">OSA</option>
                </select>
                <span asp-validation-for="AccountInfoModel.Offices" class="text-danger"></span>
            </div>

            
            <div class="form-floating mb-2 py-1" id="offCampusSelect" style="display:none;">
                <select asp-for="AccountInfoModel.OffCampus" class="form-control">
                    <option value="">Please select one of the options:</option>
                    <option value="CAAP">CAAP (Civil Authority of the Philippines)</option>
                    <option value="Fantasy Beach Resort">Fantasy Beach Resort</option>
                    <option value="IFormat">IFormat (IT COMPANY)</option>
                    <optgroup label="North">
                        <option value="Santo Thomas Batangas">Santo Thomas Batangas</option>
                    </optgroup>
                    <optgroup label="South">
                        <option value="LGU BOTOLAN">LGU BOTOLAN</option>
                        <option value="LGU CABANGAN">LGU CABANGAN</option>
                        <option value="COMELEC SAN NARCISO">COMELEC SAN NARCISO</option>
                        <option value="CRYSTAL BEACH RESORT">CRYSTAL BEACH RESORT</option>
                        <option value="IP TECH(PAMPANGA) WORK FROM HOME">IP TECH (PAMPANGA) WORK FROM HOME</option>
                        <option value="ECKTO-BOTOLAN/STA CRUZ">ECKTO-BOTOLAN/STA CRUZ</option>
                    </optgroup>
                </select>
                <span asp-validation-for="AccountInfoModel.OffCampus" class="text-danger"></span>
            </div>
            <br />

            @if(Model.FileName1 == null)
            {
                <button id="addDocumentButton">+ Add Document</button>
            }
            else
            {
                @* <a href="../RequirementFile/ViewImage?fileName=@Model.FileName1" target="_blank" style="margin-bottom: 2px;">View</a> *@
                <button id="addDocumentButton">+ Add Document</button>

                <a class="green-button" href="../RequirementFile/ViewPdf?fileName=@Model.FileName1" target="_blank" style="margin-bottom: 2px;">View Attached Document</a>

            }
            <a class="gray-button" href="../RequirementFile/ViewTemplatePdf?fileName=INTERNSHIP-APPLICATION-FORM@x-.pdf" target="_blank" style="margin-bottom: 2px;">Get Template PDF</a>
        </div>
    </div>

    @*     For document Application Form    *@
    <div id="popup" class="popup-overlay">
        <div class="popup-content">
            <span class="close-btn">&times;</span>
            <h2>Add Document</h2>

            <label for="title">Title:</label>
            <input type="text" name="title" id="title" placeholder="Provide document title, e.g., 'Document'">

            <label for="description">Document Description:</label>
            <textarea id="description" name="description" placeholder="Provide document description"></textarea>

            <div>
                <label for="mandatory">This document is mandatory</label>
            </div>

            <div class="prediction" style="margin-bottom: 20px;">
                    <input type="file" id="attachDocumentButton" name="postedFiles0" />
            </div>
        </div>
    </div>
        <input type="submit" value="Next" /> <br />
    </form>

    <script src="~/js/Popup/CustomPopup.js"></script>
</body>
</html>

<script>
    function toggleSelect(selectId) {
        var select = document.getElementById(selectId);
        var radios = document.getElementsByName("AccountInfoModel.Category");

        for (var i = 0; i < radios.length; i++) {
            if (radios[i].checked) {
                if (radios[i].value === "In-Campus") {
                    document.getElementById("inCampusSelect").style.display = "block";
                    document.getElementById("offCampusSelect").style.display = "none";
                } else if (radios[i].value === "Off-Campus") {
                    document.getElementById("offCampusSelect").style.display = "block";
                    document.getElementById("inCampusSelect").style.display = "none";
                }
                break;
            }
        }
    }
</script>